@{
    ViewBag.Title = "AjaxFormExample";
}

<div>
@using (Ajax.BeginForm("AjaxFormExample", "Examples", new AjaxOptions { UpdateTargetId = "results" }))
{
    <h2>AjaxFormExample</h2>
    <h4>Сделать тестовую страницу Ajax со ссылкой Ajax и с Ajax формой.</h4>
    
    <p><input type="text" name="i" placeholder="Введите число" /></p>
    <p><input type="text" name="text" placeholder="Введите текст" /></p>
    <p><input type="submit" value="ок"></p>


    <div id="results"><!--вывод результата с помошью частичной вьюшки-->
        
    </div>
}
</div>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

@section Footer {
    <p>&copy; @DateTime.Now.Year - Учебный проект "Новостной движок", @ViewBag.Title.</p>
}