
@{
    ViewBag.Title = "GetExample";
}

<h2>GetExample</h2>
<h3>Здесь учимся делать get-запросы</h3>
<h4>1. GET: освоить передачу данных через именованные параметры и передачу данных во вьюшку через ViewBag.</h4>
<p>Начальные значения x и y переданы параметрами в экшн линк, далее их можно менять в строке браузера</p>
<p>
    икс равно @ViewBag.xxx <br />
    игрек равно @ViewBag.yyy
</p>

@section Footer {
    <p>&copy; @DateTime.Now.Year - Учебный проект "Новостной движок", @ViewBag.Title.</p>
}