
@{
    ViewBag.Title = "PostFormCollectionExample";
}

<h2>PostFormCollectionExample</h2>
<h4>4. освоить прием данных в действие через FormCollection</h4>
@using (Html.BeginForm())
{
    <p><input type="text" name="i" placeholder="Введите число"/></p>
    <p><input type="text" name="text" placeholder="Введите текст" /></p>
    @*i: @Html.TextBox("i")<br />
        text: @Html.TextArea("text")*@
    <input type="submit" value="отправить" />
    }

    @section Footer {
<p>&copy; @DateTime.Now.Year - Учебный проект "Новостной движок", @ViewBag.Title.</p>
}

