@{
    ViewData["Title"] = "Домашняя библиотека";
}

<div class="text-center">
    <h1>Добавить книгу</h1>
    <textarea>sss </textarea>
    <textarea> ddd</textarea>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
