
@using WildBerries.Models
@model IEnumerable<Coin>
@{
    ViewBag.Title = "CoinsDb";
    Layout = null;
}

@foreach (var c in Model)
{
    if (c.IsBlocked)
    {
        <div class="btn btn-lg btn-danger coin" onclick="selectCoin(this);" data-blocked="1" data-nominal=@c.Value>@c.Value.ToString("c")</div>
    }
    else
    {
        <div class="btn btn-lg btn-success coin" onclick="selectCoin(this);" data-blocked="0" data-nominal=@c.Value>@c.Value.ToString("c")</div>
    }
}
